.nav {
    background-color: dimgrey;
}

.nav-item {
    width:auto;
}

#logo {
    text-align: right;
    cursor: pointer;

}

.item {
    height: 100%;
    width:auto;
}

a {
    color: lightblue;
}