.admin-statistic {
    display: flex;

}

.playerA-statistic {
    flex: 1;
    margin-right: 6px;
}

.playerB-statistic {
    flex: 1;
    margin-left: 6px;
}

h1 {
    text-align: center;
}

.aces {
    display: flex;
    border: solid green 1px;

}

.label {
    flex: 2;
}

.buttons {
    flex: 1
}

.button-minus {
    margin-left: 2px;
}

.doubleFaults {
    margin-top: 5%;

    display: flex;
    border: solid green 1px;
}

.unforcedErrors {
    margin-top: 5%;

    display: flex;
    border: solid green 1px;
}

.totalPoints {
    margin-top: 5%;

    display: flex;
    border: solid green 1px;
}

.set {
    margin-top: 5%;

    display: flex;
    border: solid green 1px;
}

.games {
    margin-top: 5%;

    display: flex;
    border: solid green 1px;
}

.points {
    margin-top: 5%;

    display: flex;
    border: solid green 1px;
}

.breakPoints, .winners {
    margin-top: 5%;
    display: flex;
    border: solid green 1px;
}